In [1]:
import pandas as pd 

import numpy as np
import matplotlib.pyplot as plt 

import seaborn as sns

In [3]:
df=pd.read_csv('house.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [4]:
df

     FireplaceQu GarageQual  SalePrice
0            NaN         TA     208500
1             TA         TA     181500
2             TA         TA     223500
3             Gd         TA     140000
4             TA         TA     250000
...          ...        ...        ...
1455          TA         TA     175000
1456          TA         TA     210000
1457          Gd         TA     266500
1458         NaN         TA     142125
1459         NaN         TA     147500

[1460 rows x 3 columns]

In [5]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [6]:
df['GarageQual'].mode()

0    TA
Name: GarageQual, dtype: object